[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SergiuJec
[access "refs/for/refs/*"]
	read = group user/SergiuJec
	push = group user/SergiuJec
	label-Code-Review = -2..+2 group user/SergiuJec
	label-Verified = -1..+1 group user/SergiuJec
	rebase = group user/SergiuJec
	removeReviewer = group user/SergiuJec
	submit = group user/SergiuJec
[access "refs/heads/*"]
	read = group user/SergiuJec
	create = group user/SergiuJec
	push = +force group user/SergiuJec
	pushMerge = group user/SergiuJec
[access "refs/tags/*"]
	push = group user/SergiuJec
	push = +force group user/SergiuJec
[project]
	state = hidden
